<div class="row">
  <div class="col-9 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form #loginForm='ngForm' (ngSubmit)="onSubmit(loginForm)">
          <div class="form-group col-12 mt-2">
            <label for="username">Username</label>
            <input type="text" class="form-control" required ngModel name="username">
          </div>
          <div class="form-group col-12 mt-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" required ngModel name="password">
          </div>
          <div class="form-group col-12 mt-2 d-flex justify-content-center">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary me-2">Save</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
